<!DOCTYPE html>
<html>
  <head>
    <title>Todomi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_pack_tag 'application'%>
    <%= javascript_pack_tag 'index'%>
  </head>

  <body>
  
  <% if notice %>
    <p class = "notice" ><%= notice %> </p>
  <% end %>
  <% if alert %>
    <p class = "alert" ><%= alert %></p>
  <% end %>


    <%= yield %>
  </body>
</html>
